node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/patches
!.yarn/sdks
!.yarn/versions
.pnp.*
dist
.next
.react-router
.wrangler
.DS_Store
*.log
coverage

.env
.env.*
!.env.example

backend/packages/api/data
apps/extension/*.zip
